<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title></title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />

</head>

<body>
	<div class="container text-center">
		<div>
			<h1><a th:href="@{/}">Home</a></h1>
		</div>
		<div>
			<h1>Liste Des Candidates</h1>
		</div>
		<div>
			<h3><a th:href="@{/CONDIDATE/candidates/new}">Ajouter Un Nouveau Candidate</a></h3>
		</div>
		<div>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Nom Complet</th>
						<th>Email</th>
						<th>Mot de Passe</th>
						<th>Role</th>
						<th>Telephone</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="cand : ${listCandidates}">
						<tr>
							<td>[[${cand.id}]]</td>
							<td>[[${cand.fullName}]]</td>
							<td>[[${cand.email}]]</td>
							<td>[[${cand.password}]]</td>
							<td th:text="${cand.role ?: 'user'}"></td>
							<td>[[${cand.phone}]]</td>
							<td>
								<a th:href="@{'/CONDIDATE/candidates/edit/' + ${cand.id}}">Modifier</a>
								&nbsp;&nbsp;
								<a th:href="@{'/CONDIDATE/candidates/delete/' + ${cand.id}}">Supprimer<a>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>