<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<tilte>
		</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container text-center">
		<div>
			<h1><a th:href="@{/}">Home</a></h1>
		</div>
		<div th:if="${candidate.id == null}">
			<h1>Creer Un Nouveau Candidate </h1>
		</div>
		<div th:unless="${candidate.id == null}">
			<h1>Modifier Un Candidate</h1>
		</div>

		<form th:action="@{/CONDIDATE/candidates/save}" th:object="${candidate}" method="post"
			style="max-width: 600px; margin: 0 auto;">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{role}" value="user" />
			<div class="container text-center">
				<div class="form-group-now">
					<label class="col-form-label  col-sm-4">Nom Du Candidate: </label>
					<div class="col-sm-8">
						<input type="text" th:field="*{fullName}" class="form-control" required />
					</div>
					<label class="col-form-label  col-sm-4">Email Du Candidate: </label>
					<div class="col-sm-8">
						<input type="email" th:field="*{email}" class="form-control" required />
					</div>
					<label class="col-form-label  col-sm-4">Password Du Candidate: </label>
					<div class="col-sm-8">
						<input type="password" th:field="*{password}" class="form-control" required />
					</div>
					<label class="col-form-label  col-sm-4">Phone Du Candidate: </label>
					<div class="col-sm-8">
						<input type="tel" th:field="*{phone}" class="form-control" required />
					</div>
					<div class="text-center p-3">
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</div>
		</form>
</body>

</html>